[submodule "Library/miniaudio"]
	path = Library/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "Library/SDL"]
	path = Library/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Library/SDL_shadercross"]
	path = Library/SDL_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross
